*{
    box-sizing: border-box;
}

.body{
    background-color: #E5E5E5;
}

/* BARRA TOPO */

.conteudo{
    padding-top: 82px;
    padding-bottom: 80px;
    background-color: #E5E5E5;
}

.top{
    display: flex;
   position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 92px;
    z-index: 1;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}

.title{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;
}

.subTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

b{
    font-weight: 600;
    font-size: 25px;
}
/* BARRA TOPO */

/* PRATO */
.Prato{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin-top: 25px;
    margin-left: 15px;
    
}
.tipos1{
    display: flex;
    width: 100%;
    height: 180px;
    margin-top: 10px;
    overflow-x: scroll;
}
.sobremesa{
    margin-bottom: 40px;
}

.bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5px ;
    margin-right: 5px ;
    text-align: center;
    height: 100%;
    width: 140px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px #00000040;
    
}
.informs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


 .selecionado{ 
    position: relative;
    border: solid 5px #CF2B2B;
}
.biscoito{ 
    position: relative;
    border: solid 5px #CF2B2B;
}
.selecionado3{ 
    position: relative;
    border: solid 5px #CF2B2B;
}
.Seleçao vai{
    background-color: #CF2B2B;
}



.s1{
    position: absolute;
    width: 20px;
    height: 27px;
    margin-top: 57px;
    margin-left: 90px;
    border: 0px solid green;
}

img{
    width: 111px;
   height: 73px;
   object-fit: scale-down;
   border-radius: 4px;

}
.nome{
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    font-weight: 700;
}

.detalhes{
    margin-top: 5px;
    width:123px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    color: #A6A6A6;
    padding-left: 4px;
    padding-right: 4px;
}
.preço{
    font-family: 'Roboto', sans-serif;
    margin-left: -51px;
    margin-top: 5px;
    font-weight: 500;
    color: #000000;
}

.p1{
    margin-left: -52px;
    margin-top: 18px;
}

.p0{
    margin-top: 8px;
}


.d1{
    margin-top: 9px;
    margin-left: -28px;
}
/* .n1{
    margin-left: -16px;
    width: 139px;
    font-size: 1.7vw;
} */

.d2{
    margin-top: 9px;
    margin-left: -14px;
}
.n2{

    margin-left: -42px;
    width: 139px;
    font-size: 16px;
}
/* PRATO */

/* BARRA DE BAIXO */
.barraBaixo{
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.Seleçao{
    background-color: #cbcbcb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin: 15px 0;
    width: 60%;
    height: 60px;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.36px;
    font-family: "Roboto", sans-serif;
}
.Seleçao p{
    width: 195px;
}
.textoSeletor{
    width: 203px;
    height: 45px;
    margin-left: 90px;
    margin-top: 8px;
    
}

.escondido{
    display: none;
}

.red{
    background-color: #CF2B2B;
}
.finalizado{
    display: none;
    font-weight: bold;
    margin-left: 125px;
    margin-top: 18px;
}
/* BARRA DE BAIXO */

/*Confirma PEDIDO*/

.Confirma{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    font-family: 'Roboto', sans-serif;
  }

  .caixa{
    text-align: center;
    width: 20rem;
    height: 20rem;
    background-color: #CF2B2B;
    color: #FFFFFF;
    border-radius: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .caixa > h1{
    margin-top: 13px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 400;
  }

  .caixa > div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  
  }

.fechamento{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #CF2B2B;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    
    padding-left: 20px;
    
    
}


.fechamento > p{
    font-weight: 600;
}
h2{
    font-size: 20px;
    font-weight: 600;
}

.skin{
    display: none;
}

a{
    text-decoration: none;
    color: #CF2B2B;
}